{% extends 'base.html' %}
{% block body_block %}
    <div class="centerstage">
        {% for post in post_list %}
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <div class="date">
                    <p>Publish:{{ post.publish_date|date:'D M Y' }}</p>
                </div>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{ post.approve_comment.count }}</a>

            </div>

        {% endfor %}

    </div>

{% endblock %}
{% block loader %}
    <div class="wrapper">
        <div class="loader">
            <div class="hexagon-container">
                <span class="hexagon hex_1"></span>
                <span class="hexagon hex_2"></span>
                <span class="hexagon hex_3"></span>
                <span class="hexagon hex_4"></span>
                <span class="hexagon hex_5"></span>
                <span class="hexagon hex_6"></span>
                <span class="hexagon hex_7"></span>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
//Preloader
            preloaderFadeOutTime = 2200;

            function Preloader() {

                var preloader = $('.wrapper');
                preloader.delay(500).fadeOut(500);
            }

            if (!sessionStorage.getItem('doNotShow')) {
                sessionStorage.setItem('doNotShow', true);
                Preloader();
            } else {
                $(' .wrapper').hide();
            }
        });
    </script>
{% endblock %}
